<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Display JSON Data</title>
        <link
            rel="shortcut icon"
            type="image/png"
            href="/static/img/speedometer_title.png">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <div id="jsonDataDisplay">
            <h4>Form Data converted into JSON format</h4>
            <pre id="jsonData">
                {
                    "name": "{{ request.args.get('name') }}",
                    "email": "{{ request.args.get('email') }}",
                    "age": "{{ request.args.get('age') }}",
                    "address": "{{ request.args.get('address') }}"
                }
            </pre>

            <div>
                <center><button id="backButton" onclick="goBack()">Back</button></center>
            </div>
        </div>

        <!-- JavaScript function to navigate back -->
        <script>
            function goBack() {
                window.history.back();
            }
        </script>

    </body>
</html>
