<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Display JSON Data</title>
        <link rel="shortcut icon" type="image/png" href="/static/img/speedometer_title.png">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <div id="jsonDataDisplay">
            <h4>Form Data converted into JSON format</h4>
            <pre id="jsonData">
                {
                    "name": "{{ lastjsondata.name }}",
                    "email": "{{ lastjsondata.email }}",
                    "age": "{{ lastjsondata.age }}",
                    "address": "{{ lastjsondata.address }}",
                    "created_on": "{{ lastjsondata.created_on }}"
                }
            </pre>

            <div>
                <form action="/" method="get">
                    <center><button id="backButton" type="submit">Back</button></center>
                </form>
            </div>
        </div>
    </body>
</html>
